h2 {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.125rem;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: black;
}
nav{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

