.painel-inicial {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.painel-afinando {
  margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nota-display {
    font-size: 3.5rem;
    font-family: "inter";
}
.nota-display h1 {
margin: 0px;
}

.frequencia h2{
    font-size: 1.54rem;
    font-family: "inter";
    margin: 0px;
}
.frequencia {
    margin: 0px;
}

.indicador-afinacao {
  position: relative;
  margin-top: 20px;
  width: 100%;
  max-width: 942px;
  height: 25px;
  border: 3px solid black;
  box-sizing: border-box;

  background: linear-gradient(
    to right,
    #E0C80F 0%,
    #30A946 50%,
    #E0C80F 100%
  );

  --pos-seta: 50%;
}

.indicador-afinacao::before {
  content: '';
  position: absolute;

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid black;

  top: 35px;
  left: var(--pos-seta);
  transform: translateX(-50%);
}

.btniniciar{
  margin-top: 42px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.indicador-afinacao::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  width: 3px;
  height: 100%;

  background: black; /* pode mudar a cor */
  z-index: 2;
}

/* Estado padrão */
.nota-display h1 {
  color: #000;
  transition: color 0.2s ease;
}

/* Perto da afinação */
.nota-display h1.perto {
  color: #E0C80F; /* amarelo */
}

/* Afinado */
.nota-display h1.afinada {
  color: #30A946; /* verde */
}



